body {
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
	color:#666;
  margin:0px;
  padding:0px;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
  margin:0px;
  padding:0px;
  border:none;
  list-style:none;
}
.lf   {float:left;}
.rt  {float:right;}
.clearfix:after{
  display: block;
  content: '';
  clear: both;
}

.carousel-group{
  position: relative;
  margin: 30px auto;
  width: 1226px;
  height: 460px;
}
.carousel-items{
  position: absolute;
  left: 0; 
  top: 0;
  overflow: hidden;
}
.slider{
  width: 1226px;
  height: 460px;
}
.slider a{
  display: block;
}

.slider a img{
  max-width: 100%;
}

.carousel-control__direction a{
  position: absolute;
  top: 50%;
  z-index: 999;
  width: 41px;
  height: 69px;
  background-image: url('./img/icon-slides.png');
}

.directive-prev{
  left: 0;
  background-position: -84px 0;
  background-repeat: no-repeat;
}

.directive-prev:hover{
  background-position: 0 0;
}

.directive-next{
  right: 0;
  background-position: -126px 0;
  background-repeat: no-repeat;
}
.directive-next:hover{
  background-position: -42px 0;
}